{{- define "main" -}}
<header class="singletitle">
  <span class="no">#{{ .Slug }}</span>
  <h1 class="heading">{{ .Title | markdownify }}</h1>
</header>

<article class="article">
  <div class="box">
    {{ .Content }}
  </div>
</article>

<div class="singletitle">
  <div class="heading feast">ごちそうさまでした！</div>
</div>

<nav class="neighbor-articles">
  <div class="articles-listitem">
    {{ if .Next }}
    {{ with .Next }}
    {{- $title := .Title | markdownify }}
    {{- $feature := .Resources.GetMatch "comingsoon" }}
    {{- $featureOrigin := (.Resources.ByType "image").GetMatch "heroimage.jpg" }}
    {{- if $featureOrigin }}
    {{- $feature = $featureOrigin.Resize "800x q60" }}
    {{- end }}
    <a class="box box-next articlebox" href="{{ .Permalink }}">
      <span class="label">Next</span>
      <span class="no">#{{ .Slug }}</span>
      {{ with $feature }}
      <img class="feature" src="{{ .Permalink }}" alt="" loading="lazy">
      {{ end }}
      <h2 class="heading">{{ $title }}</h2>
      <p class="summary">{{ .Summary }}</p>
    </a>
    {{ end }}
    {{ else }}
    <div class="box articlebox">
      <span class="label">Next</span>
      <img class="feature" src="/images/img-comingsoon.jpg" alt="" loading="lazy">
      <h2 class="heading">まだないよ！</h2>
      <p class="summary">次のカレーを待っててね！</p>
    </div>
    {{ end }}

    {{ if .Prev }}
    {{ with .Prev }}
    {{- $title := .Title | markdownify }}
    {{- $feature := .Resources.GetMatch "comingsoon" }}
    {{- $featureOrigin := (.Resources.ByType "image").GetMatch "heroimage.jpg" }}
    {{- if $featureOrigin }}
    {{- $feature = $featureOrigin.Resize "400x q60" }}
    {{- end }}
    <a class="box box-prev articlebox" href="{{ .Permalink }}">
      <span class="label">Prev</span>
      <span class="no">#{{ .Slug }}</span>
      {{ with $feature }}
      <img class="feature" src="{{ .Permalink }}" alt="" loading="lazy">
      {{ end }}
      <h2 class="heading">{{ $title }}</h2>
      <p class="summary">{{ .Summary }}</p>
    </a>
    {{ end }}
    {{ end }}
  </div>
</nav>
{{ end }}
