{{- define "main" -}}

<header class="sitetitle">
  <h1 class="heading">お昼に何食べるか考えるのつらい<br>ご当地カレーが食べたい！</h1>
</header>

<div class="articles">
  <div class="articles-listitem">
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- range $pages.ByPublishDate.Reverse }}
    {{- $title := .Title | markdownify }}
    {{- $feature := ((.Resources.ByType "image").GetMatch "heroimage.jpg").Resize "400x q60" }}
    <a class="box articlebox" href="{{ .Permalink }}">
      <span class="no">#{{ .Slug }}</span>
      <img class="feature" {{ with $feature }}src="{{ .Permalink }}" {{ end }} alt="" width="400" height="300" loading="lazy">
      <h2 class="heading">{{ $title }}</h2>
      <p class="summary">{{ .Summary }}</p>
    </a>
    {{- end }}
  </div>
</div>
{{- end -}}
